.container {
  margin-bottom: 8px;
}
.inner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}
.down-arrow-wrap {
  width: 24px;
  aspect-ratio: 1/1;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-arrow-wrap > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*LocationModal CSS*/
.modal-container {
  position: fixed;
  top: 0;
  left: 50%;
  width: 393px;
  height: 100vh;
  background: rgba(33, 33, 36, 0.839);
  transform : translateX(-50%);
  z-index: 10;
  display: none;
}
.modal-container.show {
  display: block;
}
.modal-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  padding: 24px 16px;
  background-color: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: inherit;
}
.modal-title-wrap {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
}
.modal-title {
  font-weight: 600;
}
.modal-title-wrap button {
  background-color: transparent;
  border: none;
}
.mylocation-wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.close-btn {
  margin-left: auto;
  cursor: pointer;
}
.regions-list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 88%;
  border-top: 1px solid #EAEBEE;
  display: flex;
  justify-content: space-between;

}
.regions-item {
  border-right: 1px solid #EAEBEE;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.regions-item li {
  width: 100%;
  padding: 13px 40px;
  word-break: keep-all;
  text-align: center;
  cursor: pointer;
}
.regions-item li.active {
background-color: #F2F3F6;
}

.regions-item::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/*LocationModal CSS*/
